@charset "UTF-8";
@import url("common/layout.css");
@import url("common/button.css");
@import url("common/table.css");
@import url("common/modal.css");

@import url("page/login.css");
@import url("page/main.css");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}






